body {
    font-family: 'Raleway', sans-serif;
}

img {
    vertical-align: top;
}

.slider {
    display: block;
    width: 800px;
    margin: 2em;
    overflow: hidden;
}
.slider__container {
    display: flex;
    transform: translateX(0);
    transition: .74s cubic-bezier(.38,0,.1,1);
}

.slider__controls {
    margin: .5em auto;
    text-align: center;
}