body {
    font-family: 'Raleway', sans-serif;
}

img {
    vertical-align: top;
}

.slider {
    display: block;
    width: 800px;
    height: 533px;
    padding: 2em;
    overflow: hidden;
    border: 1px solid salmon;
}

.slide--1, .slide--2 {
    position: absolute;
    right: -800px;
}

.slider__controls {
    margin: .5em auto;
    text-align: center;
}